.faq {

  &__cover {
    background-color: $primary-beige;
    height: 500px;

    &-title {
      color: #000;
      font-family: $primary-type;
      font-size: px-to-rems(30);
      font-weight: 500;
      letter-spacing: 3.53px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__content {
    margin: 0 auto;
    padding: 3rem 0;
    width: 80%;
  }

  &__question-container {

    hr {
      border: 1px solid #EDEDED;
    }
  }

  &__question-title {
    font-size: px-to-rems(24);
    font-weight: 200;
    line-height: px-to-rems(36);
    margin-bottom: 1rem;
    padding-top: 3rem;
    text-transform: uppercase;
  }

  &__question-text {
    font-family: $second-type;
    font-size: px-to-rems(16);
    font-weight: 400;
    line-height: px-to-rems(24);
    min-width: 350px;
    padding-bottom: 3rem;
    width: 80%;
  }

  &__question-list-title {
    font-size: px-to-rems(20);
    font-weight: 200;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__question-list-links {
    font-family: $second-type;
    font-size: px-to-rems(14);
    font-weight: 400;
    line-height: px-to-rems(22);
    padding-right: 2rem;

    a:hover {
      color: #FF0B38;
    }
  }
}
