@charset 'utf-8';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'reset';
@import 'grid';
@import 'utilities';
@import 'responsive';
@import 'catalog';
@import 'landing';
@import 'navbar';
@import 'responsive-navbar';
@import 'footer';
@import 'furniture';
@import 'faq';
@import 'philosophy';
@import 'providers';

body {
  font-family: $primary-type;

}

@mixin btn-std {
    border: 1px solid #000;
    background-color: #fff;
    font-family: $second-type;
    font-size: px-to-rems(16);
    letter-spacing: px-to-rems(3);
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: all .2s ease-in;
}

.btn-std {
  @include btn-std;
}

.btn-std:hover {
  @include btn-std;
  background-color: $primary-beige;
}
