---
title: Frequently Asked Questions - Open Furniture
---

<div class="faq__cover">
  <h1 class="faq__cover-title vertical align">Any questions? Look here.</h1>
</div>

<div class="faq__content">
  <div class="row">
    <div class="col-4">
      <div class="faq__question-list">
        <p class="faq__question-list-title">Frequently Asked Questions</p>
        <ul class="faq__question-list-links">
          <li><a href="#what-is-open-furniture">1. What is Open Furiture?</a></li><br>
          <li><a href="#what-is-cnc-milling">2. What is CNC milling?</a></li><br>
          <li><a href="#what-type-of-material">3. What type of material I have to use?</a></li><br>
          <li><a href="#who-can-download">4. Who can download the design files and make this furniture?</a></li><br>
          <li><a href="#do-i-need-to-make">5. Do I need to make the furniture by my own?</a></li><br>
          <li><a href="#why-should-i-consider">6. Why should I consider making this type of furniture and not buying ready mades from stores?</a></li><br>
          <li><a href="#what-should-i-consider">7. What should I know before downloading the files and start making my own furniture?</a></li><br>
          <li><a href="#what-steps-do-i-follow">8. What steps do I need to follow to start making my own furniture?</a></li><br>
          <li><a href="#what-type-of-professional">9. What type of professional help could I need to make this type of furniture?</a></li><br>
          <li><a href="#do-i-need-to-pay">10. Do I need to pay to download the design files?</a></li><br>
          <li><a href="#can-i-order-furniture">11. Can I order furniture through Icalia Labs Open Source Furniture?</a></li><br>
          <li><a href="#how-can-i-take-care">12. How can I take care of my furniture once is fabricated, assembled and ready for use?</a></li><br>
          <li><a href="#are-there-any-conditions">13. Are there any conditions for downloading and using the fabrication files?</a></li><br>
          <li><a href="#can-i-use-the-fabrication">14. Can I use the fabrication files for commercial use?</a></li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div id="what-is-open-furniture" class="faq__question-container">
        <hr>
        <p class="faq__question-title">What is Open Furiture?</p>
        <p class="faq__question-text">
          Open Furniture is a platform to download design files for making your own furniture trough CNC milling.
        </p>
      </div>
      <div id="what-is-cnc-milling" class="faq__question-container">
        <hr>
        <p class="faq__question-title">What is CNC milling?</p>
        <p class="faq__question-text">
          CNC milling is a specific form of computer numerical controlled (CNC) machining which basically means digitally controlled. Milling itself is a machining process similar to both drilling and cutting, and able to achieve many of the operations performed by cutting and drilling machines.
        </p>
      </div>
      <div id="what-type-of-material" class="faq__question-container">
        <hr>
        <p class="faq__question-title">What type of material I have to use?</p>
        <p class="faq__question-text">
          You will use wood in form of plywood sheets. All models have been designed for only using flat sheets of plywood of 244cm x 122cm x 18mm thickness (¾”) of any kind of wood. You can start with Pine wood as a basic start which is very accessible in supply stores and has low cost.
        </p>
      </div>
      <div id="who-can-download" class="faq__question-container">
        <hr>
        <p class="faq__question-title">Who can download the design files and make this furniture?</p>
        <p class="faq__question-text">
          Anyone who is looking to furnish their home or workspace can download the design files and built their own furniture.
        </p>
      </div>
      <div id="do-i-need-to-make" class="faq__question-container">
        <hr>
        <p class="faq__question-title">Do I need to make the furniture by my own?</p>
        <p class="faq__question-text">
          Yes. This type of furniture is designed for enthusiasts using a fabrication file for DIY purposes. Either you can do it by your own (if you own a CNC milling machine) or get professional help by hiring a CNC milling manufacturer and a carpenter for assembling the cutted pieces. Some models have cushions so you will need help from a upholsterer.
        </p>
      </div>
      <div id="why-should-i-consider" class="faq__question-container">
        <hr>
        <p class="faq__question-title">Why should I consider making this type of furniture and not buying ready mades from stores?</p>
        <p class="faq__question-text">
          Mainly because of its cost-effective way and by supporting local design. CNC milling is a low cost method for making furniture and other types of products besides you can get low cost and durable materials for doing this type of furniture such as plywood.
        </p>
      </div>
      <div id="what-should-i-consider" class="faq__question-container">
        <hr>
        <p class="faq__question-title">What should I know before downloading the files and start making my own furniture?</p>
        <p class="faq__question-text">
          1. First of all you should consider that all models have been designed for using only Plywood Sheets of 244cm x 122cm x 18mm thickness (¾”).<br> <br>
          2. All CNC cuts have to be made with a 6mm (¼”) drill bit. (consider telling this to your CNC manufacturer).<br><br>
          3. Read the instructions given in fabrication files. Read the .PDF Assembly Guide before sending to the CNC milling so you understand what is the process for assembling and cutting.<br>
        </p>
      </div>
      <div id="what-steps-do-i-follow" class="faq__question-container">
        <hr>
        <p class="faq__question-title">What steps do I need to follow to start making my own furniture?</p>
        <p class="faq__question-text">
          1. Choose your model design and download the production files.<br><br>
          2. Select and buy materials in stores. Every download comes with a .PDF Assembly Guide showing you how many plywoods you will need for each model.<br><br>
          3. Choose a CNC milling manufacturer and deliver plywoods to the CNC milling manufacturer. In case you can’t buy and deliver the plywoods, most manufacturers offer that service.<br><br>
          4. Send to the CNC Manufacturer the .DXF that comes in every download. Make sure your manufacturer read and understands all the instructions before cutting.<br><br>
          5. Pick up cutted pieces.<br><br>
          6. Deliver cutted pieces to a carpenter for assembly.<br><br>
          7. Give to the carpenter a copy of .PDF Assembly Guide in order to follow the instructions for assembling all the pieces.<br><br>
          8. Pick up assembled furniture or ask for delivery from the carpenter. They usually do it.
        </p>
      </div>
      <div id="what-type-of-professional" class="faq__question-container">
        <hr>
        <p class="faq__question-title">What type of professional help could I need to make this type of furniture?</p>
        <p class="faq__question-text">
          You mainly will need help from:<br>
          Supply stores - For buying materials.<br>
          CNC Manufacturer - For cutting the furniture pieces.<br>
          Carpenter - For assembling the furniture pieces.<br>
          Upholsterer - For making the cushions that several models have.<br>
          <br>
          Note: Some CNC Manufacturers offer full service for selling the materials, cutting the pieces, assembling the pieces and deliver the final product.
        </p>
      </div>
      <div id="do-i-need-to-pay" class="faq__question-container">
        <hr>
        <p class="faq__question-title">Do I need to pay to download the design files?</p>
        <p class="faq__question-text">
          No. All design files are free of download.
        </p>
      </div>
      <div id="can-i-order-furniture" class="faq__question-container">
        <hr>
        <p class="faq__question-title">Can I order furniture through Icalia Labs Open Source Furniture?</p>
        <p class="faq__question-text">
          No. We only give the fabrication files for download so you can do it on your own. We do not operate as furniture supplier or vendor.
        </p>
      </div>
      <div id="how-can-i-take-care" class="faq__question-container">
        <hr>
        <p class="faq__question-title">How can I take care of my furniture once is fabricated, assembled and ready for use?</p>
        <p class="faq__question-text">
          For better protection of the wood is recommended to apply furniture oil or varnish by hand or a paint brush. Depending on the finish and thickness of the oil you, can always ask your local carpenter for recommendations of what to apply and how to do it, most carpenters offer a paint service on request. <br>
          <br>
          Other tips for better care:<br>
          Avoid to place hot objects, such as very hot mugs on the surface.<br>
          Avoid prolonged exposure to water or other liquids. <br>
          To prevent discolouration it is recommended to move your furniture every three to six months by rotating it 180-degrees. This will prevent differential discolouration.<br>
        </p>
      </div>
      <div id="are-there-any-conditions" class="faq__question-container">
        <hr>
        <p class="faq__question-title">Are there any conditions for downloading and using the fabrication files?</p>
        <p class="faq__question-text">
          Yes. You should only download the fabrication files for personal use only and not for commercial use.
        </p>
      </div>
      <div id="can-i-use-the-fabrication" class="faq__question-container">
        <hr>
        <p class="faq__question-title">Can I use the fabrication files for commercial use?</p>
        <p class="faq__question-text">
          No. All files are given for enthusiast that might own a CNC machine and will personally cut and make their own furniture. Also for others that just want to use the furniture for their homes, school, work space, etc. All furniture by Icalia Labs Open Source Furniture is for personal use only.<br>
          <br>
          You are doing commercial use when:<br>
          <br>
          Your intentions are for commercial advantage or monetary compensation.<br>
          You charge a fee or make profit when making Icalia Labs Open Source Furniture.<br>
          You sell any finished product using the fabrication files from Icalia Labs Open Source Furniture.<br>
          <br>
          And of course you should not do any of these when using Icalia Labs Open Source Furniture.<br>
        </p>
      </div>
    </div>
  </div>
</div>
