---
title: Frequently Asked Questions - Open Furniture
---

<div class="faq__cover">
  <h1 class="faq__cover-title vertical align">Frequently Asked Questions</h1>
</div>

<div class="faq__content">
  <div class="faq__question-container">
    <hr>
    <p class="faq__question-title">What is Open Furiture?</p>
    <p class="faq__question-text">Here you can find a furniture collection for home, workplace or both. You can download the files with the templates to print and assemble them on your own or with the help from a local carpenter.</p>
    <hr>
  </div>
  <div class="faq__question-container">
    <hr>
    <p class="faq__question-title">What is Open Furiture?</p>
    <p class="faq__question-text">Here you can find a furniture collection for home, workplace or both. You can download the files with the templates to print and assemble them on your own or with the help from a local carpenter.</p>
    <hr>
  </div>
  <div class="faq__question-container">
    <hr>
    <p class="faq__question-title">What is Open Furiture?</p>
    <p class="faq__question-text">Here you can find a furniture collection for home, workplace or both. You can download the files with the templates to print and assemble them on your own or with the help from a local carpenter.</p>
    <hr>
  </div>
</div>
