---
layout: landing-layout
title: Open Furniture
---

<div class="landing__intro">
  <div class="row">
    <div class="col-6">
      <div class="landing__intro-cover">
      </div>
    </div>
    <div class="col-6">
      <header class="full-navbar">
        <div class="full-navbar__logo align vertical">
          <a href="../index.html"> <%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/of-icon.svg', class: 'furni-logo'%> </a>
        </div>
        <ul class="full-navbar__items align vertical">
          <li class="full-navbar__items-link"><a href="../catalog.html">Catalog</a></li>
          <li class="full-navbar__items-link"><a href="../faq.html">FAQ</a></li>
          <li class="full-navbar__items-link"><a href="../philosophy.html">Philosophy</a></li>
        </ul>
      </header>
      <div class="landing__intro-about">
        <p class="landing__intro-title">
          An open-source<br>
          furniture collection<br>
          —
        </p>
        <p class="landing__intro-text">
          Here you can find all of Icalia Labs’ furniture collection and download the files with templates to print and assemble them on your own or with the help from a local carpenter.
        </p>
      </div>
    </div>
  </div>
  <div class="landing__intro-showcase">
    <div class="row">
      <div class="col-6">

      </div>
    </div>
  </div>
</div>
