---
title: Philosophy - Open Furniture
---

<div class="philosophy__cover">
  <h1 class="philosophy__cover-title vertical align">The story behind Open Furniture</h1>
</div>

<div class="philosophy__intro">
  <div class="philosophy__intro-container">
    <div class="row">
      <div class="col-6">
        <p class="philosophy__intro-title">
          About the open-source philosophy
        </p>
        <p class="philosophy__intro-text">
        As software designers, we saw the opportunity to take this for making tangibly elements.
        So from the starting point that we wanted to renovate our office interiors, we designed
        a series of furniture that can only be made by using technology. This means that our
        process of designing technology for others comes now that we are using technology in order
        to produce our very own furniture. This not only gives us more identity of who we are and
        how we like to work, but this also the opportunity to share it to the world.
        That's why we are making all our furniture blueprints open source for those who like them and
        are passionate about working in great environments.<br>
        <br>

        The open source philosophy enables developers to share their work with other developers through
        libraries, plugins and some other cool stuff as an effort to provide solutions for others to implement.<br>
        <br>
        The same goes to the blueprints, we are sharing them with the world so if anybody who likes the
        furniture does not have to go through all the trouble trying to figure out how to get there.
        You can simply download them, make some changes if needed, and then build the desire furniture.
        </p>
        <br>
        <p class="philosophy__intro-title">
          About the designer
        </p>
        <p class="philosophy__intro-text">
          Alonso Mortera is an Architect with studies in Monterrey, México and currently working in Basel, Switzerland. With a background in product design and now doing architecture at Herzog & de Meuron, he always enjoys working in collaborative projects and meeting new people through design. Alonso has worked on projects ranging from urban installations, interior design and custom furniture design.
        </p>
      </div>
      <div class="col-6">
        <%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/philosophy-2.jpg', class: 'philosophy__intro-cover'%>
      </div>
    </div>
  </div>
</div>
