---
title: Where to make? - Open Furniture
---

<div class="providers__cover">
  <h1 class="providers__cover-title vertical align">Where can you make your furniture?</h1>
</div>

<div class="providers__content">
  <div class="row">
    <div class="col-6 offset-3">
      <p class="providers__content-intro">Since we are located in Monterrey, Mexico, we already know a couple of places around the city where you can, either get your materials, or get some help to assemble your furniture.</p>
      <div class="providers__content-divider"></div>
      <p class="providers__content-header">Supply stores</p>
      <div class="providers__content-item">
        <p class="providers__content-title">Home Depot</p>
        <p class="providers__content-text">Monterrey</p>
        <a class="providers__content-link" href="http://www.homedepot.com.mx">www.homedepot.com.mx</a>
      </div>
      <div class="providers__content-item">
        <p class="providers__content-title">Lowes</p>
        <p class="providers__content-text">Monterrey</p>
        <a class="providers__content-link" href="http://www.lowes.com.mx">www.lowes.com.mx</a>
      </div>
      <div class="providers__content-item">
        <p class="providers__content-title">Maderas Torres</p>
        <p class="providers__content-text">Monterrey</p>
        <a class="providers__content-link" href="http://www.maderastorres.com/">www.maderastorres.com</a>
      </div>
      <div class="providers__content-item">
        <p class="providers__content-title">Triplay Azteca</p>
        <p class="providers__content-text">Monterrey</p>
        <a class="providers__content-link" href="http://www.triplayazteca.com/">www.triplayazteca.com</a>
      </div>
      <div class="providers__content-divider"></div>
      <p class="providers__content-header">Textile and fabrics supply stores</p>
      <div class="providers__content-item">
        <p class="providers__content-title">Artela</p>
        <p class="providers__content-text">Monterrey</p>
        <a class="providers__content-link" href="http://www.artela.com.mx">www.artela.com.mx</a>
      </div>
      <div class="providers__content-item">
        <p class="providers__content-title">El Nuevo Mundo</p>
        <p class="providers__content-text">San Pedro - Monterrey</p>
        <a class="providers__content-link" href="http://www.elnuevomundo.mx/">www.elnuevomundo.mx</a>
      </div>
      <div class="providers__content-divider"></div>
      <p class="providers__content-header">CNC Milling manufacturers</p>
      <div class="providers__content-item">
        <p class="providers__content-title">Creatividad Promocional</p>
        <p class="providers__content-text">Monterrey</p>
        <a class="providers__content-link" href="http://www.promocional.com.mx/">www.promocional.com.mx</a>
      </div>
      <div class="providers__content-item">
        <p class="providers__content-title">Imprento</p>
        <p class="providers__content-text">San Pedro - Monterrey</p>
        <a class="providers__content-link" href="http://www.imprento.mx/">www.imprento.mx</a>
      </div>
      <div class="providers__content-item">
        <p class="providers__content-title">Finitolab</p>
        <p class="providers__content-text">San Pedro - Monterrey</p>
        <a class="providers__content-link" href="http://www.finitolab.com/">www.finitolab.com</a>
      </div>
      <div class="providers__content-divider"></div>
      <p class="providers__content-header">Carpenters</p>
      <div class="providers__content-item">
        <p class="providers__content-title">Carp. Victor Loza</p>
        <p class="providers__content-text">Monterrey</p>
        <p class="providers__content-phone">Mobile. (81) 1513 4033</p>
      </div>
      <div class="providers__content-item">
        <p class="providers__content-title">Carp. Hilario Loera</p>
        <p class="providers__content-text">San Pedro</p>
        <p class="providers__content-phone">Mobile. (81) 1288 6496</p>
      </div>
      <div class="providers__content-divider"></div>
      <p class="providers__content-header">Upholsterers</p>
      <div class="providers__content-item">
        <p class="providers__content-title">Manuel Pérez</p>
        <p class="providers__content-text">Monterrey</p>
        <p class="providers__content-phone">Mobile. (81) 1075 9604</p>
      </div>
      <div class="providers__content-item">
        <p class="providers__content-title">Abril Méndez Oliva</p>
        <p class="providers__content-text">San Pedro</p>
        <p class="providers__content-phone">Mobile. (81) 1074 5200</p>
        <a class="providers__content-link" href="http://www.finitolab.com/">www.finitolab.com</a>
      </div>
    </div>
  </div>
</div>
